.main{
    width: 100%;
    padding: 0 1.125rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top:2rem;
}
.main p{
    color: #777777;
    font-size: 0.7rem;
}
::-webkit-input-placeholder { /* WebKit browsers */
    font-size:0.90rem;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size:0.90rem;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size:0.90rem;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size:0.90rem;
}
.personal,#ph,#ad{
    display:none;
}
#phone{
    height:2.25rem;
    display: block;
    border:0.025rem solid transparent;
    border-radius: 0.3rem;
    background-color: #dddddd;
    width:15.25rem;
    margin:1rem 0;
    padding-left: 1rem;
    font-size: 0.9rem;
    overflow: hidden;
}
#address{
    height:5.8rem;
    width:15.25rem;
    display: block;
    border:0.025rem solid transparent;
    border-radius: 0.4rem;
    background-color: #dddddd;
    margin:1rem 0;
    padding-left: 1rem;
    overflow: hidden;
    padding-top:0.3rem;
    resize:none;
    font-size: 0.9rem;
}
#submit{
    display: block;
    width:16.25rem;
    font-size:0.9rem;
    height:2.75rem;
    line-height: 2.75rem;
    font-family: "Yuanti SC";
    border:1px solid transparent;
    border-radius:2rem;
    text-align: center;
    background-color: #a4a4a4;
    color: #fff;
}

.main span{
    display: block;
    font-size: 0.7rem;
    line-height: 2rem;
}
#ph{
    margin-top:1rem;
}
#ad{
    margin-bottom:1rem;
}