body{
    background: #f9f9f9;
}
.cur{
    background-color: #ff9e5d;
    color: #fff!important;
    border-color: #fff!important;
}
.cub{
    background-color: #ff9e5d;
    color: #fff!important;
    border-color: #fff!important;
}
.main {
    width: 18.75rem;
    padding: 0 1.125rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#main{
    border-bottom: 0.025rem solid #d7d7d7;
    height:5rem;
    width:18.75rem;
    padding:0 1.375rem;
}
.c_china{
    width:16.5rem;
    margin: 1rem 0;
}
.c_china .c_china1{
    height:1.6rem;
    text-indent: 1rem;
    line-height:1.325rem;
    color: #a5a5a5;
    padding-left:1.35rem;
    background: url("../images/M-0216_03.png") no-repeat;
    background-size:2rem ;
    font-size: 0.75rem;
    padding-top:1rem;
}
#c_china2{
    font-size: 1.35rem;
    margin-top:0.6rem;
    width:16.5rem;
}
#main_1{
    width:18.75rem;
    padding:0.5rem;
}
.c_money{
    width:100%;
    margin:1rem 0;
    font-size: 1.1rem;
}
.c_money ul li,.c_you ul li{
    display: inline-block;
    border:0.05rem solid #ff9e5d;
    border-radius: 0.375rem;
    text-align: center;
    width:30%;
    height:2.875rem;
    line-height:2.875rem;
    font-size: 0.9rem;
    color: #ff9e5d;
}
#rmb500{
    margin:0 0.45rem;
}
.c_money ul.c_ch{
    margin-bottom: 1rem;
}

.c_cue{
   margin:1rem 0 1rem 0.2rem;
    background: url("../images/M-0216_07.png") no-repeat;
    background-size: contain;
    text-indent: 0.2rem;
    font-size: 0.75rem;
    padding-left:1rem;
}
.c_cue strong{
    color: #fe4e48;
    font-size: 0.9rem;
}


#c_cong{
    display: block;
    width:16.25rem;
    height:2.75rem;
    text-align: center;
    line-height:2.75rem;
    background-color: #ff4f31;
    border-radius: 1.25rem;
    border:0;
    color: #fff;
    font-size: 0.9rem;
    margin:6rem auto 1.375rem auto;
    outline:none;
    box-shadow: 0.2rem 0.6rem 0.9rem #f9dad5;
}
#ob50000{
    margin:0 0.45rem;
}
footer{
    overflow: hidden;
    font-size: 0.65rem;
    padding: 0 1rem;
}
footer input{
    float: left;
}
footer a{
    float:right;
    color: #ff4f31;
}

#checkbox-1 + label {
    color: #000;
}

#checkbox-1:checked + label {
    color: red;
}