.main{
    width: 100%;
    padding: 0 1.125rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin-top:2rem;
}
.main p{
    color: #777777;
}
.c_from{
    width:100%;
}
.c_from input,.c_from textarea{
    display: block;
    border:1px solid #dddddd;
    border-radius: 0.4rem;
    background-color: #dddddd;
    width:100%;
    margin:1rem 0;
    text-indent: 1rem;
    overflow: hidden;
}
.c_from input:first-child{
    height:2.25rem;
}
.c_from textarea{
    height:5.8rem;
}
.c_from input:last-child{
    height:3rem;
    background-color: #ff4f31;
    color: #fff;
    font-size: 1.1rem;
    font-family: "Yuanti SC light 8.0d1e4";
    border-radius:2rem;
}