img{
    width: 750px;
    height: 1206px;
}
body{
    position: relative;
}
.moneygo{
    position: absolute;
    bottom: 249px;
    width: 750px;
    height: 80px;
    display: block;
}
.letsgo{
    position: absolute;
    top:994px;
    width: 750px;
    height: 113px;
}