body{
    height:100vh;
    background: rgb(243,244,245);
}
.topBg{
    width:710px;
    height:300px;
    padding:20px;
    background: rgb(243,244,245);
}
.topImg{
    width:710px;
    height:299px;
    background: url("../images/carbg.png") no-repeat;
    background-size: cover;
    border-top:1px solid transparent;
    border-radius: 6px;
}
.money{
    width:127px;
    height:48px;
    line-height: 48px;
    font-family:PingFangSC-Medium;
    font-size: 30px;
    color: #FE7989;
    letter-spacing: 0;
    margin: 30px auto 0 auto;
}
.money b{
    font-size: 48px;
}
.notes{
    height:24px;
    line-height: 24px;
    text-align: center;
    font-family:PingFangSC-Light;
    font-size: 24px;
    color: #4A4A4A;
    letter-spacing: 0;
    margin:10px 0 114px 0;
}
.validity{
    height:22px;
    line-height: 22px;
    margin:0  0 10px 30px;
    font-family:PingFangSC-Light;
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 0;
}
.model{
    height:22px;
    line-height: 22px;
    margin-left:30px;
    font-family:PingFangSC-Light;
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 0;
}
.content{
    width: 750px;
    background: #ffffff;
}
.oneNotes{
    width:720px;
    height:164px;
    padding-left:30px;
    border-bottom:1px solid rgb(243,244,245);
}
.twoNotes{
    width:720px;
    height:164px;
    padding-left:30px;
}
.shell{
    display: inline-block;
    width:32px;
    height:32px;
    line-height: 32px;
    margin:64px 30px 0 0;
    border-radius: 50%;
    text-align: center;
}
.check,.checks{
    display:block;
    width:28px;
    height:28px;
    line-height: 28px;
    background: #F8F8F8;
    border: 4px solid #E5E5E5;
    border-radius: 50%;
    margin: 0 auto;

}
.checkImg{
    display: inline-block;
    width:78px;
    height:33px;
    background: url("../images/greenCat.png") no-repeat;
    margin:67px 38px 0 0;
    background-size: cover;
}
.checkImg2{
    display: inline-block;
    width:78px;
    height:33px;
    background: url("../images/suv.png") no-repeat;
    background-size: cover;
    margin:67px 38px 0 0;
}
.notesInfo{
    font-family:PingFangSC-Light;
    font-size: 30px;
    color: #4A4A4A;
    letter-spacing: 0;
    line-height: 45px;
    margin:40px 0 10px;
}
.moneys{
    font-family:PingFangSC-Medium;
    font-size: 30px;
    color: #FE7989;
    letter-spacing: 0;
}
.selected{
    background: url("../images/select.png") no-repeat;
    border: 0;
    width:32px;
    height:32px;
    line-height: 32px;
    background-size:cover ;
    border-radius:0 ;
}
.btn{
    width:710px;
    height:88px;
    background: #7CDAA2;
    border-radius: 6px;
    font-family:PingFangSC-Medium;
    font-size: 32px;
    color: #FFFFFF;
    letter-spacing: 6px;
    border: 0;
    margin:388px 20px 60px 20px;
}