body{
    background-color: #ececec;
}
.banner{
    width:100%;
    height:7.5rem;
    background: url("../img/0301_02.png") no-repeat;
    background-size:cover;
}
.section{
    width: 100%;
    padding: 0 0.225rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.c_qianjiao{
    width:100%;
    height:5.75rem;
    background-color: #ffffff;
    margin:0.175rem 0;

}
.c_bg{
   display: inline-block;
    height:100%;
    width:4.1rem;
    background: url("../img/0301_05.png") no-repeat;
    background-size:cover;
    vertical-align: top;
    -webkit-vertical-align:top;
    margin-right:0.6rem;
}
.c_bg2{
    background: url("../img/0301_08.png") no-repeat;
    background-size:cover;
}
.c_bg3{
    background: url("../img/0301_10.png") no-repeat;
    background-size:cover;
}
.c_bg4{
    background: url("../img/0301_13.png") no-repeat;
    background-size:cover;
}
.c_bg5{
    background: url("../img/0301_17.png") no-repeat;
    background-size:cover;
}
.c_bg6{
    background: url("../img/0301_19.png") no-repeat;
    background-size:cover;
}
.c_bg7{
    background: url("../img/0301_21.png") no-repeat;
    background-size:cover;
}
.c_bg8{
    background: url("../img/0301_23.png") no-repeat;
    background-size:cover;
}
.c_bg9{
    background: url("../img/0301_25.png") no-repeat;
    background-size:cover;
}
.c_bg10{
    background: url("../img/0301_28.png") no-repeat;
    background-size:cover;
}
.c_bg11{
    background: url("../img/0301_30.png") no-repeat;
    background-size:cover;
}
.c_bg12{
    background: url("../img/0301_32.png") no-repeat;
    background-size:cover;
}
.c_bg13{
    background: url("../img/0090.png") no-repeat;
    background-size:cover;
}

.c_text{
    display:inline-block;
    width:12.15rem;
    margin-top:0.8rem;
}
.c_text a{
    display: block;
}
.c_text .c_qj{
    font-family: "Adobe Heiti Std";
    font-size: 0.9rem;
}
.c_text .c_jt{
    font-family:Adobe 黑体 Std;
    color:#6b6b6b ;
    line-height: 1.1rem;
    font-size: 0.63rem;
}
